.alert {
  display: inline-block;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}

.alert-error {
  display: inline-block;
  border-color: darkred;
  background-color: red;
  color: white;
}

.alert-warning {
  display: inline-block;
  border-color: orange;
  background-color: yellow;
  color: black;
}

.alert-info {
  display: inline-block;
  border-color: blue;
  background-color: cyan;
  color: black;
}
/*  
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
// when in css file keep all the types (h1..h3) separate, 
// can join when used in html page
// keep the types in size order
*/
h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 20px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1.shadow {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 3px 3px #ccff02;
  color: #ff073a;
}

h2.shadow {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  color: #ff073a;
  text-shadow: 2px 2px 2px #ccff02;
}

h3.shadow {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color: #ff073a;
  text-shadow: 2px 2px 2px #ccff02;
}

.button {
  border: 0;
  height: 75 px;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(87, 153, 230, 1); /* blue */
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.blue {
  background-color: rgba(87, 153, 230, 1);
  color: white;
  height: 75 px;
}

.blue:hover {
  background-color: rgba(71, 97, 229, 1);
}

.blue:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.grey {
  background-color: rgba(110, 117, 125, 1);
  color: white;
}

.grey:hover {
  background-color: rgba(44, 65, 102, 1);
}

.grey:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

html body .container {
  width: 100%;
  max-width: 390px; /* 450 768 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #d8dbce;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 0.5rem;
}

html body .container .card {
  width: 100%;
  max-width: 20rem; /* 365px */
  margin-top: 1rem;
  text-align: center;
  background-color: #edeee9;
  border-radius: 5px;
}

.static {
  position: static;
  padding-top: 20px;
  text-align: center;
}

.center {
  text-align: center;
}

.bottom {
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 0%;
  right: 0%;
}

.left {
  margin-left: -20%;
}

.right {
  margin-right: -20%;
}
